{% extends "registration/registration_base.html" %}
{% load i18n %}

{% block title %}{% trans "Account Activated" %}{% endblock %}

{% block content %}

    <div class="hold-transition login-page">
    

        <div class="alert alert-light" role="alert">
            <p><strong>{% trans "Your account is now activated." %}</strong></p>

            {% if not user.is_authenticated %}
            <p><strong>{% trans "You can log in." %}</strong></p>
            {% endif %}
          </div>
        

    </div>



{% endblock %}


{% comment %}
**registration/activation_complete.html**

Used after successful account activation. This template has no context
variables of its own, and should simply inform the user that their
account is now active.
{% endcomment %}
