{% extends "registration/registration_base.html" %}
{% load i18n %}

{% block title %}{% trans "Password reset complete" %}{% endblock %}

{% block content %}

<div class="hold-transition login-page">
    

    <div class="alert alert-light" role="alert">
        <p><strong>
            {% trans "Your password has been reset!" %}
            
        </strong></p>

        <p>{% blocktrans %}You may now <a style="color: blue;text-decoration: none"  href="{{ login_url }}" href="{{ login_url }}">log in</a>{% endblocktrans %}.</p>
        

        
        
      </div>
    

</div>
{% endblock %}


{# This is used by django.contrib.auth #}
